@import "tailwindcss";

@theme{
  --color-primary: #4f46e5;
  --color-secondary: #0f172a;
  --color-background: #f8fafc;
  --color-card: #ffffff;
  --color-text: #111827;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.no-scrollbar{
  -ms-text-overflow: none;  /* IE & Edge  */
  scrollbar-width: none; /* Firefox */
}